// shared css for the login and signup page
@import "../login/login.component.scss";
.form-control.ng-invalid.ng-touched:not(.noBorder) {
    border: solid 1px red;
    background-color: rgba(125,0,0,0.1);
}
.ng-valid:not(.noBorder) {
    border: solid 1px green;
    background-color: rgba(0,125,0,0.1);
}
