.bg-primary{
    background-color: rgb(10, 189, 233) !important;
}

.btn-primary{
    background-color: rgb(10, 189, 233) !important;
    color: #fff;
}
.btn-primary:hover{
    background-color: rgb(10, 189, 255) !important;
}

a, h1, h2, h3, h4, h5, h6{
font-family: 'Anton', sans-serif;
}
span{

font-family: 'Lobster', cursive;
}
p{

font-family: 'Indie Flower', cursive;
}
