h1,
h2,
.mat-card-title,
.mat-card-subtitle,
.mat-card-content {
  text-align: center;
}
.header-text {
  margin: 0 auto !important;
}
.mat-card-header-text {
  margin: 0 auto !important;
}
button:not(:disabled) {
  cursor: pointer;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;

  text-transform: none;

  overflow: visible;

  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  border-radius: 0;

  touch-action: manipulation;
}
