<div *ngIf="loading" class="spinner">
  <img
    class="dog"
    src="./assets/images/loading-dog.gif"
    style="width: 10vw;text-align: center;
         display: block; vertical-align: middle; margin: auto; margin-top: 25%; margin-bottom: 25%;"
    alt=""
  />
</div>
<div *ngIf="ErrorStatus" class="card-body">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)"
      >Erreur {{ ErrorStatus }} : {{ ErrorstatusText }}</ngb-alert
    >
  </p>
</div>
<div *ngIf="!loading" class="container-fluid">
  <div class="text-center">
    <h2>
      Fiche de l'utilisateur :<br />
      {{ users.username }}
    </h2>
    <div class="image-preview mb-3 picture-user gradient-box">
      <img
        *ngIf="users.pachMedia"
        class="picture d-block mx-auto mb-4"
        src="{{ users.pachMedia }}"
        alt=""
      />
      <img
        *ngIf="!users.pachMedia"
        class="picture d-block mx-auto mb-4"
        src="./../../../../../assets/images/user-male-circle.png"
        alt=""
      />
    </div>

    <p class="lead">
      Inscrit depuis
      {{ users.created_date | date: 'EEEE, d MMMM y à h:mm' }}
    </p>
    <br />
    <app-user-controls></app-user-controls>
  </div>
  <div class="row user">
    <div class="col-md-12">
      <hr class="mb-4" />
      <h4 class="mb-3">
        Login et Rôle
      </h4>
      <hr class="mb-4" />
      <div class="row">
        <div class="mb-3 mb-3a col-md-12">
          <label for="login">Login</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              class="form-control"
              type="text"
              value="{{ users.username }}"
              disabled
              required
            />
          </div>
        </div>
        <div class="mb-3 mb-3a col-md-12">
          <label for="email">Email </label>
          <input
            type="email"
            class="form-control"
            value="{{ users.email }}"
            disabled
            required
          />
        </div>
        <div class="row row100 col-md-12 pr-0">
          <div class="col-md-8 mb-3a mb-3 pr-0">
            <label for="ROLE_idROLE">Rôle</label>
            <input
              type="text"
              value="{{ status.roleName }}"
              class="form-control"
              name="ROLE_idROLE"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3a mb-3 pr-0">
            <label for="isActive">Status du compte</label>
            <input
              name="isActive"
              class="form-control"
              value="{{ status.status }}"
              disabled
              required
            />
          </div>
        </div>
      </div>
      <hr class="mb-4" />
      <h4 class="mb-3">
        Informations générales
      </h4>
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          data-toggle="toggle"
          class="custom-control-input"
          id="customSwitches"
          [checked]="users.adressbook"
          disabled
        />
        <label class="custom-control-label" for="customSwitches"
          >Ajouter au carnet d'adresse</label
        >
      </div>
      <hr class="mb-4" />
      <div class="row">
        <div class="row row100 col-md-12 pr-0">
          <div class="col-md-6 mb-3 pr-0">
            <label for="FirstName">Prénom : </label>
            <input
              type="text"
              name="FirstName"
              class="form-control"
              value="{{ users.firstName }}"
              disabled
              required
            />
          </div>
          <div class="col-md-6 mb-3 pr-0">
            <label for="lastName">Nom</label>
            <input
              type="text"
              name="lastName"
              class="form-control"
              value="{{ users.lastName }}"
              disabled
              required
            />
          </div>
        </div>
        <div class="row row100  col-md-12 pr-0">
          <div class="col-md-4 mb-3 pr-0">
            <label for="birthday">Date de naissance</label>
            <input
              class="form-control"
              value="{{ users.birthday | date: 'd MMMM y' }}"
              type="$birthdaytype"
              name="birthday"
              disabled
            />
          </div>
          <div class="col-md-8 mb-3 pr-0">
            <label for="sexGenre">Sexe</label>
            <input
              type="text"
              value="{{ users.sexGenre }}"
              name="sexGenre"
              class="form-control"
              disabled
            />
          </div>
        </div>
      </div>
      <hr class="mb-4" />
      <h4 class="mb-3">
        Adresse Privée
      </h4>
      <hr class="mb-4" />
      <div class="row">
        <div class="row  row100 col-md-12 pr-0">
          <div class="col-md-2 mb-3 pr-0">
            <label for="adPvNum">Numéro et boite</label>
            <input
              type="text"
              value="{{ users.adPvNum }}"
              class="form-control"
              name="adPvNum"
              disabled
            />
          </div>
          <div class="col-md-10 mb-3 pr-0">
            <label for="adPvStreet">Rue</label>
            <input
              type="text"
              value="{{ users.adPvStreet }}"
              class="form-control"
              name="adPvStreet"
              disabled
            />
          </div>
        </div>
        <div class="row row100  col-md-12 pr-0">
          <div class="col-md-5 mb-3 pr-0">
            <label for="adPvCountry">Choisir un pays</label>
            <input
              type="text"
              value="{{ users.adPvCountry }}"
              class="form-control"
              name="adPvCountry"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3 pr-0">
            <label for="adPvZip">Code Postal</label>
            <input
              type="text"
              value="{{ users.adPvZip }}"
              class="form-control"
              name="adPvZip"
              disabled
            />
          </div>
          <div class="col-md-3 mb-3 pr-0">
            <label for="adPvCity">Ville</label>
            <input
              type="text"
              value="{{ users.adPvCity }}"
              class="form-control"
              name="adPvCity"
              disabled
            />
          </div>
        </div>
      </div>
      <hr class="mb-4" />
      <h4 class="mb-3">
        Adresse Professionnelle
      </h4>
      <hr class="mb-4" />
      <div class="row">
        <div class="mb-3 mb-3a col-md-12">
          <label for="firm">Société </label>
          <input
            type="text"
            value="{{ users.firm }}"
            class="form-control"
            name="firm"
            disabled
          />
        </div>
        <div class="mb-3 mb-3a col-md-12">
          <label for="tva">Numéro de TVA </label>
          <input
            type="text"
            value="{{ users.tva }}"
            class="form-control"
            name="tva"
            disabled
          />
        </div>
        <div class="row row100  col-md-12 pr-0">
          <div class="col-md-2 mb-3 pr-0">
            <label for="adProNum">Numéro et boite</label>
            <input
              type="text"
              value="{{ users.adProNum }}"
              class="form-control"
              name="adProNum"
              disabled
            />
          </div>
          <div class="col-md-10 mb-3 pr-0">
            <label for="adProStreet">Rue</label>
            <input
              type="text"
              value="{{ users.adProStreet }}"
              class="form-control"
              name="adProStreet"
              disabled
            />
          </div>
        </div>
        <div class="row  row100 col-md-12 pr-0">
          <div class="col-md-5 mb-3 pr-0">
            <label for="adProCountry">Choisir un pays</label>
            <input
              value="{{ users.adProCountry }}"
              class="form-control"
              name="adProCountry"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3 pr-0">
            <label for="adProZip">Code Postal</label>
            <input
              value="{{ users.adProZip }}"
              type="text"
              class="form-control"
              name="adProZip"
              disabled
            />
          </div>
          <div class="col-md-3 mb-3 pr-0">
            <label for="adProCity">Ville</label>
            <input
              type="text"
              value="{{ users.adProCity }}"
              class="form-control"
              name="adProCity"
              disabled
            />
          </div>
        </div>
      </div>
      <hr class="mb-4" />
      <h4 class="mb-3">
        Contacts
      </h4>
      <hr class="mb-4" />
      <div class="row">
        <div class="row row100  col-md-12 pr-0">
          <div class="col-md-4 mb-3 pr-0">
            <label for="contPhonePv">Télèphone privé</label>
            <input
              type="tel"
              value="{{ users.contPhonePv }}"
              name="contPhonePv"
              class="form-control"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3 pr-0">
            <label for="contPhoneGsm">GSM</label>
            <input
              type="tel"
              value="{{ users.contPhoneGsm }}"
              name="contPhoneGsm"
              class="form-control"
              disabled
            />
          </div>
          <div class="col-md-4 mb-3 pr-0">
            <label for="contPhonePro">Télèphone (bureau)</label>
            <input
              type="tel"
              value="{{ users.contPhonePro }}"
              name="contPhonePro"
              class="form-control"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row row100  col-md-12 pr-0">
          <div class="col-md-6 mb-3 pr-0">
            <label for="contFacebook">Facebook</label
            ><a href="{{ users.contFacebook }}">
              <input
                type="url"
                value="{{ users.contFacebook }}"
                name="contFacebook"
                class="form-control"
                disabled
            /></a>
          </div>
          <div class="col-md-6 mb-3 pr-0">
            <label for="contWebsite">Site Web</label
            ><a href="{{ users.contWebsite }}">
              <input
                type="url"
                value="{{ users.contWebsite }}"
                name="contWebsite"
                class="form-control"
                disabled
            /></a>
          </div>
        </div>
      </div>
      <hr class="mb-4" />
      <h4 class="mb-3">
        Autres informations
      </h4>
      <hr class="mb-4" />
      <div class="row">
        <div class="mb-3 col-md-12">
          <label for="asbl">En rapport avec l'ASBL </label>
          <input
            type="text"
            value="{{ users.asbl }}"
            class="form-control"
            name="asbl"
            disabled
          />
        </div>
        <div class="mb-3 col-md-12">
          <label for="shortDesc">Petite description </label>
          <textarea
            value="{{ users.shortDesc }}"
            class="form-control"
            name="shortDesc"
            rows="3"
            disabled
          ></textarea>
        </div>
        <div class="mb-3 col-md-12">
          <label for="longDesc">Autre information</label>
          <textarea
            class="form-control"
            value="{{ users.longDesc }}"
            name="longDesc"
            rows="7"
            disabled
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

>
