<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular8</h1>
            <form [formGroup]="userForm" class="noBorder" (ngSubmit)="onSubmit()">
                <div class="form-content">


                    <div class="form-group"  [ngClass]="{ 'has-error': invalidUsername() }">
                        <input type="text" formControlName="username" class="form-control input-underline input-lg"
                        id="username" name="username"  placeholder="{{ 'Username' | translate }}">

                    <p *ngIf="invalidUsername()"  role="alert" id="username_error" class="help-block rounded-bottom alert alert-danger">Invalid username.</p>
                    </div>

                    <div class="form-group"  [ngClass]="{ 'has-error': invalidEmail() }">
                        <input type="text" formControlName="email"  class="form-control input-underline input-lg"
                        id="email" name="email"  placeholder="{{ 'Email' | translate }}">

                    <p *ngIf="invalidEmail()"  role="alert" id="email_error" class="help-block rounded-bottom alert alert-danger">Invalid email.</p>

                    </div>
                    <div class="form-group"  [ngClass]="{ 'has-error': invalidPassword() }">
                        <input type="password" formControlName="password"  class="form-control input-underline input-lg"
                        id="password" name="password"  placeholder="{{ 'Password' | translate }}">

                    <p *ngIf="invalidPassword()"  role="alert" id="password_error " class="help-block rounded-bottom alert alert-danger">Invalid password.</p>
                    </div>


                </div>
                <div class="form-group has-error">
                <button class="btn rounded-btn" type="submit">{{ 'Register' | translate }}</button>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>
</div>

                 </form>
        </div>
    </div>
</div>
