.navbar-control{
    margin: 0 auto;
    border-radius: 15px;
    width: 90%;
    height: 17vh;
}
       .clickable {
            cursor: pointer;
          }
#userControl-navbar {
      .navbar-text {
        margin-right: 0;
        margin-left: 0;
      }
      .navbar-fa {
        margin: 10px 0;

      }
    .button-group {
        margin-right: 5px;
        margin-left: 5px;

            span {
            color: white;

                .userActionButton {
                    display: inline-block;
                    border-radius: 15px;
                    padding: 6px 18px;
                    margin: 0 2px;
                    }
                .btn:disabled{
                    opacity: 0.2;
                }
            }
        }
    }
