    <div class="container-fluid">

            <div class="py-5 text-center">
                    <h2>Supprimer un utilisateur</h2>
                    <img class="d-block mx-auto mb-4" src="./../../../../../assets/images/user-male-circle.png" alt="" width="300" height="300">
                    <br>
            </div>
            <app-user-controls></app-user-controls>
            <div class="row">

                <div class="col-md-12">
                        <div class="container">
                                <form action="#" method="post">
                                    <h3>Attention :</h3>
                                    <p>la suppression est irréversible.</p>
                                    <p>Etes-vous sûre de vouloir supprimer le membre ?</p>
                                    <p style="color:red"></p>
                                    <input type="radio" name="choix" value="oui">
                                    <label for="oui">Oui</label>
                                    <input type="radio" name="choix" value="non">
                                    <label for="non">Non</label><br>
                                    <input type="submit" value="Je suis sûr(e)">
                                </form>
                        </div>
                </div>
            </div>
    </div>

