$topnav-background-color: #222;
$topnav-link-color: #ff9f43;
$topnav-text-color: white;
$topnav-background-color3: linear-gradient(
  to top,
  rgb(34, 128, 150) 0%,
  rgb(25, 125, 148) 100%
);
$topnav-background-color2: #1e1f26;

:host {
  .navbar {
    z-index: 6000;
    background: $topnav-background-color2;
    .navbar-brand {
      color: $topnav-text-color;
    }
    .nav-item > a {
      color: $topnav-text-color;
      &:hover {
        color: $topnav-link-color;
      }
    }
    .logo-brand {
      width: 13vw;
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
.btn-1 {
  background: #444857;
  color: white;
  border-radius: 4px;
  border: 3px solid transparent;
  margin: 0 2px 0 2px;
}
.btn-1:hover {
  background: #5a5f73;
}
.btn-2 {
  background: #47cf73;
  margin: 0 2px 0 2px;

  color: #000;
  border-radius: 4px;
  border: 3px solid transparent;
}
.btn-2:hover {
  background: #2fb45a;
}
ul li a:hover {
  text-decoration: none;
}
ul li a:hover:after {
  background: green;
  animation: border-anim 0.5s 1 ease normal;
  transform: translateX(0);
}
.card {
  color: white;
  background-color: #2d303a;
}
h2,
h3,
h4,
h5 {
  color: #76daff;
}

@media screen and (max-width: 992px) {
  .logo-navbar {
    height: 46px;
    margin-left: 36%;
    display: visible !important;
  }
  .no-logo-navbar {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .logo-navbar {
    display: none;
  }
  .no-logo-navbar {
    display: visible !important;
  }
}
