<form (ngSubmit)="onSave()" class="user">

<div class="container-fluid">
    <div class='text-center'>
        <h2  >
            Ajouter nouveau membre
        </h2>
        <div class="image-preview mb-3 picture-user gradient-box">
            <img *ngIf="!previewUrl" class="picture d-block mx-auto mb-4" src="./../../../../../assets/images/user-male-circle.png" alt="">
            <img *ngIf="previewUrl" [src]="previewUrl" class="picture" />
        </div>
        <div class="form-group">
            <input  type="file" name="image" (change)="fileProgress($event)" />
        </div>
        <div *ngIf="fileUploadProgress">
            Progression chargement: {{ fileUploadProgress }}
        </div>
        <div class="mb-3" *ngIf="uploadedFilePath">
            {{uploadedFilePath}}
        </div>

    </div>
    <div class='row user'>
        <div  class='col-md-12'>
            <hr class='mb-4'>
            <h4 class='mb-3'>
                Login et Rôle
            </h4>
            <hr class='mb-4'>
            <div class='row'>
                <div class='mb-3 mb-3a col-md-12'>
                    <label for='login'>Login</label>
                    <div class='input-group'>
                        <div class='input-group-prepend'>
                            <span class='input-group-text'>@</span>
                        </div>
                        <input class='form-control' type='text' required>
                    </div>
                </div>
                <div class='mb-3 mb-3a col-md-12'>
                    <label for='email'>Email </label>
                    <input  type='email' class='form-control'   required>
                </div>
                <div class='row row100 col-md-12 pr-0'>
                    <div class='col-md-8 mb-3a mb-3'>
                        <label  for='ROLE_idROLE'>Rôle</label>
                        <input   type='text'  class='form-control' name='ROLE_idROLE' >

                    </div>
                     <div class='col-md-4 mb-3a mb-3 pr-0'>
                        <label for='isActive'>Status du compte</label>
                        <input   name='isActive' class='form-control'   required>

                    </div>
                </div>
            </div>
            <hr class='mb-4'>
            <h4 class='mb-3'>
                Informations générales
            </h4>
            <div class="custom-control custom-switch" >
                <input type="checkbox"[(ngModel)]="adressbook" data-toggle="toggle" class="custom-control-input" id="customSwitches"  >
                <label class="custom-control-label" for="customSwitches">Ajouter au carnet d'adresse</label>
            </div>
            <hr class='mb-4'>
            <div class='row'>
                <div class='row row100 col-md-12 pr-0'>
                    <div class='col-md-6 mb-3'>
                        <label  for='FirstName'>Prénom : </label>
                        <input   type='text' name='FirstName' class='form-control'  required>
                    </div>
                    <div class='col-md-6 mb-3 pr-0'>
                        <label  for='lastName'>Nom</label>
                        <input   type='text' name='lastName' class='form-control'  required>
                    </div>
                </div>
                <div class='row row100  col-md-12 pr-0'>
                    <div class='col-md-4 mb-3'>
                        <label  for='birthday'>Date de naissance</label>
                        <input   class='form-control'  type='$birthdaytype' name='birthday' >
                    </div>
                    <div class='col-md-8 mb-3 pr-0'>
                        <label for='sexGenre'>Sexe</label>
                        <input   type='text'  name='sexGenre' class='form-control' >
                    </div>
                </div>
            </div>
            <hr class='mb-4'>
            <h4 class='mb-3'>
                Adresse Privée
            </h4>
            <hr class='mb-4'>
            <div class='row'>
                <div class='row  row100 col-md-12 pr-0'>
                    <div class='col-md-2 mb-3'>
                        <label for='adPvNum'>Numéro et boite</label>
                        <input   type='text'  class='form-control'name='adPvNum' >
                    </div>
                    <div class='col-md-10 mb-3 pr-0'>
                        <label for='adPvStreet'>Rue</label>
                        <input   type='text'  class='form-control'name='adPvStreet'  >
                    </div>
                </div>
                <div class='row row100  col-md-12 pr-0'>
                    <div class='col-md-5 mb-3'>
                        <label  for='adPvCountry'>Choisir un pays</label>
                        <input   type='text'  class='form-control' name='adPvCountry' >
                    </div>
                    <div class='col-md-4 mb-3'>
                        <label for='adPvZip'>Code Postal</label>
                        <input     type='text'  class='form-control' name='adPvZip'  >
                    </div>
                    <div class='col-md-3 mb-3 pr-0'>
                        <label  for='adPvCity'>Ville</label>
                        <input   type='text'  class='form-control'name='adPvCity'  >
                    </div>
                </div>
            </div>
           <hr class='mb-4'>
            <h4 class='mb-3'>
                Adresse Professionnelle
            </h4>
            <hr class='mb-4'>
            <div class='row'>
                <div class='mb-3 mb-3a col-md-12'>
                    <label  for='firm'>Société </label>
                    <input   type='text'  class='form-control'name='firm' >
                </div>
                <div class='mb-3 mb-3a col-md-12'>
                    <label  for='tva'>Numéro de TVA </label>
                    <input   type='text'  class='form-control'name='tva' >
                </div>
                <div class='row row100  col-md-12 pr-0'>
                    <div class='col-md-2 mb-3'>
                        <label for='adProNum'>Numéro et boite</label>
                        <input   type='text'  class='form-control'name='adProNum' >
                    </div>
                    <div class='col-md-10 mb-3 pr-0'>
                        <label for='adProStreet'>Rue</label>
                        <input   type='text'  class='form-control'name='adProStreet' >
                    </div>
                </div>
                <div class='row  row100 col-md-12 pr-0'>
                    <div class='col-md-5 mb-3'>
                        <label  for='adProCountry'>Choisir un pays</label>
                        <input    class='form-control'  name='adProCountry' >
                    </div>
                    <div class='col-md-4 mb-3'>
                        <label for='adProZip'>Code Postal</label>
                        <input     type='text' class='form-control' name='adProZip'  >
                    </div>
                    <div class='col-md-3 mb-3 pr-0'>
                        <label  for='adProCity'>Ville</label>
                        <input   type='text'  class='form-control' name='adProCity'  >
                    </div>
                </div>
            </div>
            <hr class='mb-4'>
            <h4 class='mb-3'>
                Contacts
            </h4>
            <hr class='mb-4'>
            <div class='row'>
                <div class='row row100  col-md-12 pr-0'>
                    <div class='col-md-4 mb-3'>
                        <label   for='contPhonePv'>Télèphone privé</label>
                        <input     type='tel'  name='contPhonePv'class='form-control' >
                    </div>
                    <div class='col-md-4 mb-3'>
                        <label   for='contPhoneGsm'>GSM</label>
                        <input     type='tel'  name='contPhoneGsm'class='form-control' >
                    </div>
                    <div class='col-md-4 mb-3 pr-0'>
                        <label   for='contPhonePro'>Télèphone (bureau)</label>
                        <input     type='tel'  name='contPhonePro'class='form-control' >
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='row row100  col-md-12 pr-0'>
                    <div class='col-md-6 mb-3'>
                        <label   for='contFacebook'>Facebook</label><a href=''>
                        <input     type='url'  name='contFacebook'class='form-control' ></a>
                    </div>
                    <div class='col-md-6 mb-3 pr-0'>
                        <label   for='contWebsite'>Site Web</label><a href=''>
                        <input     type='url'  name='contWebsite'class='form-control' ></a>
                    </div>
                </div>
            </div>
            <hr class='mb-4'>
            <h4 class='mb-3'>
                Autres informations
            </h4>
            <hr class='mb-4'>
            <div class='row'>
                <div class='mb-3 col-md-12'>
                    <label for='asbl'>En rapport avec l'ASBL </label>
                    <input   type='text'  class='form-control' name='asbl' >
                </div>
                <div class='mb-3 col-md-12'>
                    <label for='shortDesc'>Petite description </label>
                    <textarea   class='form-control'name='shortDesc' rows="3" ></textarea>
                </div>
                <div class='mb-3 col-md-12'>
                    <label for='longDesc'>Autre information</label>
                    <textarea class="form-control"  name='longDesc' rows="7" ></textarea>
                </div>
            </div>
        </div>
    </div>
</div>


</form>
