.no-data-available {
    text-align: center;
  }

  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }
  .table{
     //color:white;
 }
 .card{
   //  color: white;
    // background-color: #2d303a !important;
    width: 80vw;
    margin: 0 auto;
 }
 thead tr th , .card-header, h2, h3, h4, h5{color: #76daff; }
 tbody tr th{color: #7db5c9; }
 .card-header{
     border-radius:18px 18px 0 0 ;
 }
 tbody tr:hover td{
     color: rgb(99, 183, 216);
 }
 table.dataTable tbody tr {
   //  background-color: #2d303a !important;
 }
 table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
     background-color: #343a40 !important;
     color: #76daff;
 }
 table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
     background-color: #343a40 !important;
     color: #76daff;
 }
 .table.dataTables_wrapper .table.dataTables_length, .table.dataTables_wrapper .table.dataTables_filter, .table.dataTables_wrapper .table.dataTables_info, .table.dataTables_wrapper .table.dataTables_processing, .table.dataTables_wrapper .table.dataTables_paginate {
     color: white !important;
 }
 .card{
     border-radius:  18px;

 }
 .card-body {
   // background-color: darkgray;
     border-radius: 0 0 18px 18px;

     color: white !important;
 }
 .col-3{
     width: 22% !important;
 }
 .FirstBtn{
     margin-left: 2rem !important;
 }
 .inputSearch{
     border: none;
     border-bottom: 1px solid #76daff ;
     text-align: center;
     margin-bottom: 8px;
     margin-top: 8px;
     color: white;
 }
