:host {
    display: block;
}

 :root {
    --orangedbl:rgb(255, 159, 67) ;
    --bluedbl:rgb(10, 189, 227) ; }
  .bg-gradient-bdl{
  background-image: linear-gradient(rgba(10, 189, 227, 0.90), rgba(255, 159, 67, 0.0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
  padding: 3em;
}
.bg-orangedbl {
    background-color: rgb(255, 159, 67) !important;
  }
  .btn-orangedbl {
    color: #fff;
    background-color: rgb(255, 159, 67);
    border-color: rgb(255, 140, 50);
  }

  .btn-orangedbl:hover {
    color: #fff;
    background-color: rgb(10, 189, 227);
    border-color: #2653d4;
  }

  a.bg-orangedbl:hover, a.bg-orangedbl:focus,
  button.bg-orangedbl:hover,
  button.bg-orangedbl:focus {
    background-color: rgb(255, 159, 67) !important;
  }
.bg-login-img{
    height: 91px;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
display: block;
top: 0%;
position: relative;
left: 53%;
}

.bg-bluedbl {
    background-color: rgb(10, 189, 227) !important;

  height: 100vh;
  }


  a.bg-bluedbl:hover, a.bg-bluedbl:focus,
  button.bg-bluedbl:hover,
  button.bg-bluedbl:focus {
    background-color: rgb(10, 189, 227) !important;
  }
.shadow-lg {
    -webkit-box-shadow: 1px 1px 12px #666 !important;
    box-shadow: 1px 1px 12px #666 !important;
  }
  .border-left-orangedbl {
    border-left: 0.25rem solid rgb(255, 159, 67) !important;
  }

  .border-left-bluedbl {
    border-left: 0.25rem solid rgba(10, 189, 227) !important;
  }




  .bg-login-image {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-position: center;
    background-size: cover;
  }

  .bg-register-image {
    background: url("https://source.unsplash.com/Mv9hjnEUHR4/600x800");
    background-position: center;
    background-size: cover;
  }

  .bg-password-image {
    background: url("https://source.unsplash.com/oWTW-jNGl9I/600x800");
    background-position: center;
    background-size: cover;
  }
.mt-10{
    margin-top : 12rem;
}