
<div class="bg-bluedbl" [@routerTransition]>

    <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9 mt-10">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"><img class="bg-login-img" src="../../assets/images/final.png"></div>

                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
                    </div>
                    <form  (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <input type="text"   [(ngModel)]="username"  class="form-control form-control-user"  id="" placeholder="{{ 'username' | translate }}">
                      </div>
                      <div class="form-group">
                        <input type="password" [(ngModel)]="password"  class="form-control form-control-user"  id="" placeholder="{{ 'Password' | translate }}">
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck">
                          <label class="custom-control-label" for="customCheck">Souviens-toi de moi</label>
                        </div>
                      </div>
                      <a class="btn btn-orangedbl btn-user btn-block" type="submit">
                        {{ 'Log in' | translate }}
                      </a>

                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
                    </div>
                    <div class="text-center">
                      <a class="small"  [routerLink]="['/signup']">Créer un compte !</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>



  </div>
