<div *ngIf="loading" class="spinner">
  <img
    class="dog"
    src="./assets/images/loading-dog.gif"
    style="width: 10vw;text-align: center;
         display: block; vertical-align: middle; margin: auto; margin-top: 25%; margin-bottom: 25%;"
    alt=""
  />
</div>
<form
  [formGroup]="userDetailsForm"
  (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)"
>
  <div *ngIf="ErrorStatus" class="card-body">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)"
        >Erreur {{ ErrorStatus }} : {{ ErrorstatusText }}</ngb-alert
      >
    </p>
  </div>

  <div *ngIf="!loading" class="container-fluid">
    <div class="text-center">
      <h2>
        Modification utilisateur :<br />
        <ng-container *ngIf="!username">{{ users.username }}</ng-container>
        <ng-container *ngIf="username">{{ username }}</ng-container>
      </h2>
      <div class="image-preview mb-3 picture-user gradient-box">
        <img
          *ngIf="users.pachMedia && !previewUrl"
          class="picture d-block mx-auto mb-4"
          src="{{ users.pachMedia }}"
          alt=""
        />
        <img
          *ngIf="!users.pachMedia && !previewUrl"
          class="picture d-block mx-auto mb-4"
          src="./../../../../../assets/images/user-male-circle.png"
          alt=""
        />
        <img *ngIf="previewUrl" [src]="previewUrl" class="picture" />
      </div>
      <div class="form-group">
        <input
          type="file"
          formControlName="image"
          name="image"
          (change)="fileProgress($event)"
        />
      </div>
      <div *ngIf="fileUploadProgress">
        Progression chargement: {{ fileUploadProgress }}
      </div>
      <div class="mb-3" *ngIf="uploadedFilePath">
        {{ uploadedFilePath }}
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="onSubmit()">
          Valider la nouvelle photo
        </button>
      </div>

      <p class="lead">
        Inscrit depuis
        {{ users.created_date | date: 'EEEE, d MMMM y à h:mm' }}
      </p>
      <br />
      <app-user-controls></app-user-controls>
    </div>

    <div class="row user">
      <div class="col-md-12">
        <hr class="mb-4" />
        <h4 class="mb-3">
          Login et Rôle
        </h4>
        <hr class="mb-4" />
        <div class="row">
          <div class="mb-3 mb-3a col-md-12">
            <label for="login">Login</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input
                value="{{ users.username }}"
                matInput
                maxlength="25"
                formControlName="username"
                class="form-control form-control-user"
                placeholder="Nom d'utilisateur"
                [(ngModel)]="username"
              />
            </div>
            <mat-error *ngFor="let validation of validation_messages.username">
              <mat-error
                class="error-message"
                *ngIf="
                  userDetailsForm.get('username').hasError(validation.type) &&
                  (userDetailsForm.get('username').dirty ||
                    userDetailsForm.get('username').touched)
                "
              >
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </div>
          <div class="mb-3 mb-3a col-md-12">
            <label for="email">Email </label>
            <input
              value="{{ users.email }}"
              matInput
              formControlName="email"
              class="form-control form-control-user"
              placeholder="Adresse mail"
            />
            <mat-error *ngFor="let validation of validation_messages.email">
              <mat-error
                class="error-message"
                *ngIf="
                  userDetailsForm.get('email').hasError(validation.type) &&
                  (userDetailsForm.get('email').dirty ||
                    userDetailsForm.get('email').touched)
                "
              >
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </div>
          <div class="row row100 col-md-12 pr-0">
            <div class="col-md-8 mb-3a mb-3">
              <label for="role">Role : {{ selected }}</label>
              <select
                name="role"
                formControlName="role"
                class="form-control form-control-user"
                [value]="status.idROLE"
              >
                <option [value]="status.idROLE">{{ status.roleName }}</option>
                <option *ngFor="let role of roles" [value]="role.idROLE">
                  {{ role.roleName }}</option
                >
              </select>
            </div>
            <div class="col-md-4 mb-3a mb-3 pr-0">
              <label for="isActive">Status du compte :</label>
              <select
                name="isActive"
                formControlName="isActive"
                class="form-control form-control-user"
                [value]="status.isActive"
              >
                <option [value]="status.isActive">{{ status.status }}</option>
                <option
                  *ngFor="let activated of activateds"
                  [value]="activated.isActive"
                  >{{ activated.name }}</option
                >
              </select>
            </div>
          </div>
        </div>

        <hr class="mb-4" />
        <h4 class="mb-3">
          Informations générales
        </h4>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            formControlName="adressbook"
            data-toggle="toggle"
            class="custom-control-input"
            id="customSwitches"
            [checked]="users.adressbook"
          />
          <label class="custom-control-label" for="customSwitches"
            >Ajouter au carnet d'adresse</label
          >
        </div>

        <hr class="mb-4" />
        <div class="row">
          <div class="row row100 col-md-12 pr-0">
            <div class="col-md-6 mb-3">
              <label for="firstName">Prénom : </label>
              <input
                type="text"
                formControlName="firstName"
                name="firstName"
                class="form-control"
                value="{{ users.firstName }}"
                required
              />
            </div>
            <div class="col-md-6 mb-3 pr-0">
              <label for="lastName">Nom</label>
              <input
                type="text"
                formControlName="lastName"
                name="lastName"
                class="form-control"
                value="{{ users.lastName }}"
                required
              />
            </div>
          </div>
          <div class="row row100  col-md-12 pr-0">
            <div class="col-md-4 mb-3">
              <label for="birthday">Date de naissance</label>
              <!--<input matInput formControlName="birthday" [matDatepicker]="picker" value='{{users.birthday| date:'d MMMM y'}}' placeholder="Choose a date">


                                        <mat-form-field>
                                                <input matInput class='form-control'  [matDatepicker]="picker" placeholder="Choose a date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>-->
            </div>
            <div class="col-md-8 mb-3 pr-0">
              <label for="sexGenre">Sexe</label>
              <input
                type="text"
                formControlName="sexGenre"
                value="{{ users.sexGenre }}"
                name="gender"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <h4 class="mb-3">
          Adresse Privée
        </h4>
        <hr class="mb-4" />
        <div class="row">
          <div class="row  row100 col-md-12 pr-0">
            <div class="col-md-2 mb-3">
              <label for="adPvNum">Numéro et boite</label>
              <input
                type="text"
                formControlName="adPvNum"
                value="{{ users.adPvNum }}"
                class="form-control"
                name="adPvNum"
              />
            </div>
            <div class="col-md-10 mb-3 pr-0">
              <label for="adPvStreet">Rue</label>
              <input
                type="text"
                formControlName="adPvStreet"
                value="{{ users.adPvStreet }}"
                class="form-control"
                name="adPvStreet"
              />
            </div>
          </div>
          <div class="row row100  col-md-12 pr-0">
            <div class="col-md-5 mb-3">
              <label for="adPvCountry">Choisir un pays</label>
              <input
                type="text"
                formControlName="adPvCountry"
                value="{{ users.adPvCountry }}"
                class="form-control"
                name="adPvCountry"
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="adPvZip">Code Postal</label>
              <input
                type="text"
                formControlName="adPvZip"
                value="{{ users.adPvZip }}"
                class="form-control"
                name="adPvZip"
              />
            </div>
            <div class="col-md-3 mb-3 pr-0">
              <label for="adPvCity">Ville</label>
              <input
                type="text"
                formControlName="adPvCity"
                value="{{ users.adPvCity }}"
                class="form-control"
                name="adPvCity"
              />
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <h4 class="mb-3">
          Adresse Professionnelle
        </h4>
        <hr class="mb-4" />
        <div class="row">
          <div class="mb-3 mb-3a col-md-12">
            <label for="firm">Société </label>
            <input
              type="text"
              formControlName="firm"
              value="{{ users.firm }}"
              class="form-control"
              name="firm"
            />
          </div>
          <div class="mb-3 mb-3a col-md-12">
            <label for="tva">Numéro de TVA </label>
            <input
              type="text"
              formControlName="tva"
              value="{{ users.tva }}"
              class="form-control"
              name="tva"
            />
          </div>
          <div class="row row100  col-md-12 pr-0">
            <div class="col-md-2 mb-3">
              <label for="adProNum">Numéro et boite</label>
              <input
                type="text"
                formControlName="adProNum"
                value="{{ users.adProNum }}"
                class="form-control"
                name="adProNum"
              />
            </div>
            <div class="col-md-10 mb-3 pr-0">
              <label for="adProStreet">Rue</label>
              <input
                type="text"
                formControlName="adProStreet"
                value="{{ users.adProStreet }}"
                class="form-control"
                name="adProStreet"
              />
            </div>
          </div>
          <div class="row  row100 col-md-12 pr-0">
            <div class="col-md-5 mb-3">
              <label for="adProCountry">Choisir un pays</label>
              <input
                value="{{ users.adProCountry }}"
                formControlName="adProCountry"
                class="form-control"
                name="adProCountry"
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="adProZip">Code Postal</label>
              <input
                value="{{ users.adProZip }}"
                formControlName="adProZip"
                type="text"
                class="form-control"
                name="adProZip"
              />
            </div>
            <div class="col-md-3 mb-3 pr-0">
              <label for="adProCity">Ville</label>
              <input
                type="text"
                value="{{ users.adProCity }}"
                formControlName="adProCity"
                class="form-control"
                name="adProCity"
              />
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <h4 class="mb-3">
          Contacts
        </h4>
        <hr class="mb-4" />
        <div class="row">
          <div class="row row100  col-md-12 pr-0">
            <div class="col-md-4 mb-3">
              <label for="contPhonePv">Télèphone privé</label>
              <input
                type="tel"
                value="{{ users.contPhonePv }}"
                formControlName="contPhonePv"
                name="contPhonePv"
                class="form-control"
              />
            </div>
            <div class="col-md-4 mb-3">
              <label for="contPhoneGsm">GSM</label>
              <input
                type="tel"
                value="{{ users.contPhoneGsm }}"
                formControlName="contPhoneGsm"
                name="contPhoneGsm"
                class="form-control"
              />
            </div>
            <div class="col-md-4 mb-3 pr-0">
              <label for="contPhonePro">Télèphone (bureau)</label>
              <input
                type="tel"
                value="{{ users.contPhonePro }}"
                formControlName="contPhonePro"
                name="contPhonePro"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row row100  col-md-12 pr-0">
            <div class="col-md-6 mb-3">
              <label for="contFacebook">Facebook</label>
              <input
                type="url"
                value="{{ users.contFacebook }}"
                formControlName="contFacebook"
                name="contFacebook"
                class="form-control"
              />
            </div>
            <div class="col-md-6 mb-3 pr-0">
              <label for="contWebsite">Site Web</label>
              <input
                type="url"
                value="{{ users.contWebsite }}"
                formControlName="contWebsite"
                name="contWebsite"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <hr class="mb-4" />
        <h4 class="mb-3">
          Autres informations
        </h4>
        <hr class="mb-4" />
        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="asbl">En rapport avec l'ASBL </label>
            <input
              type="text"
              value="{{ users.asbl }}"
              formControlName="asbl"
              class="form-control"
              name="asbl"
            />
          </div>
          <div class="mb-3 col-md-12">
            <label for="shortDesc">Petite description </label>
            <textarea
              value="{{ users.shortDesc }}"
              formControlName="shortDesc"
              class="form-control"
              name="shortDesc"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3 col-md-12">
            <label for="longDesc">Autre information</label>
            <textarea
              class="form-control"
              formControlName="longDesc"
              value="{{ users.longDesc }}"
              name="longDesc"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
