:host {
    display: block;
}

 :root {
    --orangedbl:rgb(255, 159, 67) ;
    --bluedbl:rgb(10, 189, 227) ; }
  .bg-gradient-bdl{
  background-image: linear-gradient(rgba(10, 189, 227, 0.90), rgba(255, 159, 67, 0.0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  text-align: center;
  padding: 3em;
}
.bg-orangedbl {
    background-color: rgb(255, 159, 67) !important;
  }
  .btn-orangedbl {
    color: #fff;
    background-color: rgb(255, 159, 67);
    border-color: rgb(255, 140, 50);
  }
.msgError{color: red}
form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}
  .btn-orangedbl:hover {
    color: #fff;
    background-color: rgb(10, 189, 227);
    border-color: #2653d4;
  }

  a.bg-orangedbl:hover, a.bg-orangedbl:focus,
  button.bg-orangedbl:hover,
  button.bg-orangedbl:focus {
    background-color: rgb(255, 159, 67) !important;
  }
  .bg-login-logo{
    width: 35vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  top: 0%;
  position: relative;
  }
.pt-5-B{
  padding-top: 8rem!important;
}
.error-message{
  color: red;
  text-align: center;
}
.bg-bluedbl {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-image: url('./../../assets/images/photo-1557682260-96773eb01377.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  }
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:
#fff;
background-clip: border-box;
border: 1px solid #e3e6f0;
border-radius: 0.35rem;
}
.border-0 {
    border: 0 !important;
}
.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem
    rgba(0, 0, 0, 0.175) !important;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}
.o-hidden {
    overflow: hidden !important;
}

  a.bg-bluedbl:hover, a.bg-bluedbl:focus,
  button.bg-bluedbl:hover,
  button.bg-bluedbl:focus {
    background-color: rgb(10, 189, 227) !important;
  }
.shadow-lg {
    -webkit-box-shadow: 1px 1px 12px #666 !important;
    box-shadow: 1px 1px 12px #666 !important;
  }
  .border-left-orangedbl {
    border-left: 0.25rem solid rgb(255, 159, 67) !important;
  }

  .border-left-bluedbl {
    border-left: 0.25rem solid rgb(10, 189, 227) !important;
  }




  .bg-login-image {
    background: url("./../../assets/images/dog1.jpg");
    background-position: center;
    background-size: cover;
  }

  .bg-register-image {
    background: url("./../../assets/images/dog2.jpg");
    background-position: center;
    background-size: cover;
  }

  .bg-password-image {
    background: url("./../../assets/images/dog3.jpg");
    background-position: center;
    background-size: cover;
  }
.mt-10{
    margin-top : 12rem;
}

.form-control.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-untouched.ng-invalid.ng-dirty,
.form-control.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-invalid,
.form-control.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-pristine.ng-invalid.ng-touched
{
  border: 1px solid red;
  background-color: rgba(125, 0, 0, 0.1);
}
.form-control.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-untouched.ng-dirty.ng-valid,
.form-control.mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored.ng-dirty.ng-touched.ng-valid
{
  border: 1px solid green;
  background-color: rgba(0, 125, 0, 0.1);
}
