

<div class="bg-bluedbl">

  <div class="container pb-5 pt-5-B">

    <div class="card o-hidden border-0 mt-5 mb-5 shadow-lg">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-login-image"><img class="bg-login-logo"  src="../../assets/images/final.png"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Bienvenue!</h1>
              </div>
              <form  (ngSubmit)="submit()" class="user">
                <div class="form-group">
                  <input type="email" [(ngModel)]="email" name="email" class="form-control form-control-user" placeholder="Entrer l'adresse e-mail...">
                </div> 
                <div class="form-group">
                    <input type="password" [(ngModel)]="password" name="password" class="form-control form-control-user" id="Password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Souviens-toi de moi</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-orangedbl btn-user btn-block">
                  S'identifier
                </button>

              </form>
              <hr>
              <div class="text-center">
                <a class="small" routerLink="" routerLinkActive="active">Mot de passe oublié?</a>
              </div>
              <div class="text-center">
                <a class="small" routerLink="register" routerLinkActive="active">Créer un compte !</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

