<app-jumbo-user class="btnJumbo"></app-jumbo-user>
<!--
<div *ngIf="loading && !ErrorValid && !alertError" class="spinner">
  <img
    class="dog"
    src="./assets/images/loading-dog.gif"
    style="width: 10vw;text-align: center;
     display: block; vertical-align: middle; margin: auto; margin-top: 25%; margin-bottom: 25%;"
    alt=""
  />
</div>
-->

<router-outlet> </router-outlet>
<!--
<div *ngIf="alertError" class="card-body">
  <p *ngFor="let alert of alerts" class="alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">
      {{ alert.message }}
    </ngb-alert>
  </p>
</div>
-->

<div class="data-container">
  <h2 class="text-center">Recherche rapide d'un utilisateur</h2>
  <form class="text-center" id="test">
    <mat-form-field class="example-full-width w-50">
      <input
        matInput 
        [formControl]="searchTerm"
        placeholder="recherche par nom d'utilisateur ou email...."
      />
    </mat-form-field>
  </form>
      <div class="add-user-button">
      <button
        type="button"
        class="col-12 col-sm-4 col-md-2  btn btn-primary btn-lg"
        role="button"
        [routerLink]="['/admin/users/user-manager/user-add']"
        [routerLinkActive]="['router-link-active']"
      >
        Ajouter un nouveau membre
      </button>
    </div>
  <div *ngIf="result.length > 0" class="row justifyContent">
    <mat-card
      *ngFor="let res of result"
      (click)="RowSelected(res)"
      class="example-card example-box col-3"
      cdkDrag
    >
      <mat-card-header>
        <img
          mat-card-avatar
          *ngIf="res.pachMedia"
          class="example-header-image"
          src="{{ res.pachMedia }}"
        />
        <img
          mat-card-avatar
          *ngIf="!res.pachMedia"
          class="example-header-image"
          src="./../../../../assets/images/user-male-circle.png"
        />

        <mat-card-title>{{ res.id }} - {{ res.username }}</mat-card-title>
        <mat-card-subtitle
          >{{ res.firstName }} {{ res.lastName }}</mat-card-subtitle
        >
      </mat-card-header>

      <img
        mat-card-image
        *ngIf="res.pachMedia"
        class="example-header-image"
        src="{{ res.pachMedia }}"
      />
      <img
        mat-card-image
        *ngIf="!res.pachMedia"
        class="example-header-image"
        src="./../../../../assets/images/user-male-circle.png"
      />

      <mat-card-content>
        <h6>Rapport avec l'ASBL :</h6>
        <p>
          {{ res.asbl }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--
<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile class=" example-box" *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows" >

        <mat-card class="dashboard-card">

          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Card Content Here</div>
          </mat-card-content>

        </mat-card>

      </mat-grid-tile>
    </mat-grid-list>
  </div>
-->
