.btn:hover {
  transform: scale(1.08) !important;
  background-color: rgba(10, 189, 233, 0.5) !important;
  margin-left: 7px;
  margin-right: 7px;
}
#test ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  text-align: center;
  top: -25px;
}

#test ::ng-deep .mat-form-field-should-float {
  text-align: center;
}
.add-user-button {
  display: flex;

  .btn-primary {
    margin: auto !important;
    background-color: rgb(10, 189, 233);
    color: #fff;
    font-size: 0.7rem;
    cursor: pointer;
    max-height: 38px;
  }
  .btn:hover {
    transform: scale(1.08) !important;
    background-color: rgba(10, 189, 233, 0.5) !important;
    margin-left: 7px;
    margin-right: 7px;
  }
}
.alert,
.btnJumbo {
  z-index: 5000;
}
.spinner {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.no-data-available {
  text-align: center;
}
.mat-card:hover {
  cursor: pointer;
}

.example-header-image {
  background-size: cover;
  border-top: 0.01em solid darkcyan;
  border-bottom: 0.01em solid darkcyan;
}

.data-container {
  display: flex;
  flex-flow: column;
  align-content: center;
  min-height: 68vh;
}
.picture {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  background-size: cover;
}
.example-card {
  max-width: 400px;
  margin: 15px;
  text-align: center;
  border: 1px solid;
  border-radius: 12px;
}
.justifyContent {
  justify-content: center;
}
.justifyContent::after {
  content: '';
  flex: auto;
}
.grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.dashboard-card-content {
  text-align: center;
}
