<div [@routerTransition]>
  <!-- Page Content -->
  <div class="container-fluid">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4  card card-image">
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
            <strong>Une vie meilleure...</strong>
          </h2>
          <p class="mx-5 mb-5">
            L'association a pour objectif principal d'améliorer les relations
            entre l'homme et l'animal, en tenant compte de leur bien-être
            réciproque et de la place de l'animal dans la société. Sans Collier
            possède son propre refuge pour chiens et chats perdus, saisis ou
            abandonnés.
          </p>
          <a class="btn btn-outline-white btn-md"
            ><i class="fa fa-clone left"></i>Soutenez notre action !</a
          >
        </div>
      </div>
    </header>

    <!-- Page Features -->
    <div class="row text-center mb-15">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
              esse necessitatibus neque.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo magni sapiente, tempore debitis beatae culpa natus
              architecto.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
              esse necessitatibus neque.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo magni sapiente, tempore debitis beatae culpa natus
              architecto.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
