* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}
.main-container {
    margin-top: 56px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.collapsed {
    margin-left: 60px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
@media print {
    .main-container {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
}
.navbar-fixed-bottom {
    border: 1px transparent;
    background-color: transparent;
    padding: 0 auto;
    padding: 0.5rem 0rem;
    position: relative;
    bottom: 0;
    padding-bottom: 0;

    #navBarBottom {
      height: 50px;
      margin: 0;
      padding: 15px 0;
      background-color: rgb(52, 58, 64);
      color: white;
      width: 100vw;

      div {
        width: 50%;
        padding: 0 10%;
      }

      #leftMessage {
        float: left;
        padding: 0 6%;
      }

      #rightMessage {
        float: right;
        text-align: right;
        padding: 0 6%;
      }
    }
  }
