<app-jumbo-user class="btnJumbo"></app-jumbo-user>
<div *ngIf="loading && !ErrorValid && !alertError" class="spinner">
  <img
    class="dog"
    src="./assets/images/loading-dog.gif"
    style="width: 10vw;text-align: center;
     display: block; vertical-align: middle; margin: auto; margin-top: 25%; margin-bottom: 25%;"
    alt=""
  />
</div>

<!--
<h2>Recherche avancé d'un utilisateur</h2>
<form>
  <mat-form-field class="example-full-width">
    <input
      matInput
      [formControl]="searchTerm"
      placeholder="recherche par nom d'utilisateur ou email...."
    />
  </mat-form-field>
</form>
<div *ngIf="result.length > 0">
  <mat-card (click)="RowSelected(res)" *ngFor="let res of result">
    <mat-card-header>
      <mat-card-title>{{ res.id }} - {{ res.username }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ res.email }}</p></mat-card-content
    >
  </mat-card>
</div>
-->

<router-outlet *ngIf="ErrorValid"> </router-outlet>
<div *ngIf="alertError" class="card-body">
  <p *ngFor="let alert of alerts" class="alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">
      {{ alert.message }}
    </ngb-alert>
  </p>
</div>
<div class="data-container" *ngIf="!ErrorStatus && !loading">
  <div class="container">
    <div class="filter-table">
      <h2 class="filter-title">Recherche avancée d'un utilisateur</h2>

      <form class="filter-form">
        <mat-form-field class="example-full-width">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filtre"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>


  </div>
  <div class="container-fluid">

    <div class="col col-xl-12 col-lg-12">
      <div class="card ">
        <div class="card-header">
          <div class="alert alert-info">
            <strong>Contacts :</strong>
          </div>
        </div>

        <div class="card-body table-responsive">
          <div class="example-container mat-elevation-z8">

            <mat-table
              #Table
              [dataSource]="MyDataSource"
              matSort
              #sorter1="matSort"
              [class.isMobile]="isMobile"
            >
                   <!-- For name firm -->

                   <ng-container matColumnDef="firm">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Société
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Société:</span>
                            {{ post.firm }}
                    </mat-cell>
                  </ng-container>

                  <!-- For User like with asbl -->

                  <ng-container matColumnDef="asbl">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Notre lien
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Notre lien:</span>
                        {{ post.asbl }}
                    </mat-cell>
                  </ng-container>

                  <!-- For User FirstName -->

                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Prénom
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Prénom:</span>
                        {{ post.firstName }}
                    </mat-cell>
                  </ng-container>


                  <!-- For User LastName -->

                  <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Nom
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Nom:</span>
                        {{ post.lastName }}
                    </mat-cell>
                  </ng-container>


                  <!-- For User phone private -->

                  <ng-container matColumnDef="contPhonePv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Tel privé
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Tel privé:</span>
                        {{ post.contPhonePv }}
                    </mat-cell>
                  </ng-container>


                  <!-- User gsm -->

                  <ng-container matColumnDef="contPhoneGsm">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      GSM
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">GSM:</span>
                        {{ post.contPhoneGsm }}
                    </mat-cell>
                  </ng-container>

                   <!-- User phone pro -->

                   <ng-container matColumnDef="contPhonePro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Tel Pro
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Tel Pro:</span>
                        {{ post.contPhonePro }}
                    </mat-cell>
                  </ng-container>

                   <!-- User email -->

                   <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      Email
                    </mat-header-cell>
                    <mat-cell *matCellDef="let post">
                        <span class="mobile-label">Email:</span>
                        {{ post.email }}
                    </mat-cell>
                  </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
                (click)="RowSelected(row)"
              ></mat-row>
            </mat-table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 15]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
